$def with(tweets)
<html>
<head>
    <title></title>
</head>
<body>
  <table id="tweets" >
    <thead>
        <tr>
            <th>Tweets</th>
            <th> Action</th>
        </tr>
            $for tweet in tweets
            <tr>
                <td id="tweet">$tweet</td>
                <td>
                  <form id='analyse_single_tweet' action="/show/$tweet" method='post'>
                      <input class = "button" type="submit" value="Analyse"/>
                  </form>
            </tr>
  </table>
</html
