$def with(tweet, neg, pos, cl,classifier_name)
<html>
      <head>
      </head>

      <body>
        <em><h3>This tweet was classified using $classifier_name </h3></em>
        <table id="tweets" >
          <thead>
              <tr>
                  <th>Tweet</th>
                  <th>Negative </th>
                  <th>Positive</th>
                  <th>Classification</th>
              </tr>
                  <tr>
                      <td id ="tweet"> $tweet</td>
                      <td id ="tweet">$neg</td>
                      <td id ="tweet">$pos</td>
                      <td id ="tweet">$cl</td>
                  </tr>
        </table>
      </bdoy>
</html>
